!!!
%html
  = render 'layouts/head'
  %body
    .navbar
      .navbar-inner= link_to "CreItem", root_path, class: "brand"
    .container
      - if notice
        .alert.alert-success= notice
      = yield